[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
pyhwp = "*"
pandas = "*"
"pdfminer.six" = "*"
openpyxl = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
